.vscode/*
2019-05-21 Yandex ML 2019/Final Task/*.csv
2019-10-19 Yandex ML Contest/Final - Predictions of topics in the text/*.tsv
2019-10-19 Yandex ML Contest/Final - Predictions of topics in the text/*.pkl
catboost_info/*.*
2019-10-19 Yandex ML Contest/Completion/*.tsv
2019-10-19 Yandex ML Contest/Completion/*.pkl